.profile {
    margin-bottom: 80px;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile__info p {
    text-align: center;
}

.profile__skills {
    width: 100px;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
}

.skills {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    left: -100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    animation-name: x;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.skills-right {
    left: 100px;
    animation-name: y;
}

@keyframes x {
    0% {
        opacity: 0;
        top: -30px;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        top: 125px;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        top: 250px;
        transform: scale(0);
    }
  }
  @keyframes y {
    0% {
        opacity: 0;
        top: 250px;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        top: 75px;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        top: -30px;
        transform: scale(0);
    }
  }

  @media (max-width: 1020px) {
    .profile {
        margin-bottom: 50px;
    }
  }

  @media (max-width: 620px) {
    .profile {
        margin-bottom: 50px;
    }
  }