/* Nav */
.nav {
	padding: 20px 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	letter-spacing: normal;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	transition-duration: .3s;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--text-color);
	font-size: 24px;
	font-family: 'Raleway', 'Tahoma', sans-serif;
}

.logo strong {
	color: var(--title-1);
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Raleway', 'Tahoma', sans-serif;
	position: relative;
}

.nav-list__link {
	color: var(--text-color);
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.5;
}

.nav-list__link--active {
	position: relative;
	color: var(--title-1);
}

.nav-list__link--active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

.nav-list__toggle {
	width: 30px;
	height: 25px;
	padding: 5px;
	background-color: transparent;
	position: absolute;
	top: 15px;
	left: 20px;
	display: none;
}

.nav-list__toggle span {
	display: block;
	background-color: var(--text-color);
	border-radius: 2px;
	transition-duration: .5s;
}

.nav-list__toggle--close {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.nav-list__toggle--close span {
	display: block;
	width: 100%;
	height: 4px;
	position: relative;
	transition-duration: .5s;
	top: 0;
	left: 0;
}

.open {
	z-index: 11;
}

.nav-list__toggle--close span:nth-child(1) {
	transition-delay: .1s;
}

.nav-list__toggle--close span:nth-child(2) {
	transition-delay: .125s;
}

.nav-list__toggle--close span:nth-child(3) {
	transition-delay: .15s;
}

.nav-list__toggle--open {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.nav-list__toggle--open span:nth-child(1) {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	transition-delay: .1s;
}

.nav-list__toggle--open span:nth-child(2) {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	transition-delay: .125s;
}

.open .nav-list__toggle--close span {
	width: 0%;
}

.open .nav-list__toggle--close span:nth-child(1) {
	transition-delay: 0s;
}

.open .nav-list__toggle--close span:nth-child(2) {
	transition-delay: .1s;
}

.open .nav-list__toggle--close span:nth-child(3) {
	transition-delay: .2s;
}

.open .nav-list__toggle--open span:nth-child(1) {
	background-color: var(--purple);
	width: 100%;
	top: 11px;
	transform: rotate(-45deg);
	transition-delay: .1s;
}

.open .nav-list__toggle--open span:nth-child(2) {
	background-color: var(--purple);
	width: 100%;
	top: 11px;
	transform: rotate(45deg);
	transition-delay: .2s;
} 


@media (max-width: 620px) {

	.nav-row {
		display: flex;
		justify-content: center;
		gap: 0;
	}

	.logo {
		margin-right: 0;
		padding-top: 5px;
	}

	.nav {
		padding: 10px 0;
		position: fixed;
		height: 70px;
		top: 0;
		padding-bottom: 20px;
	}

	.nav-list__item {
		font-weight: 700;
		font-size: 34px;
		margin-top: 30px;
	}

	.nav-list__toggle {
		display: block;
	}

	.nav-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		position: absolute;
		width: 0%;
		left: -100%;
		top: 0;
		background-color: var(--nav-bg);
		padding-top: 70px;
		font-size: 20px;
		transition: left 1s linear, width 1s linear, background-size .5s linear 1s;
		background-image: url('../../img/nav-sticker.png');
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: center top 280px;
	}

	.nav-list--open {
		width: 100%;
		z-index: 10;
		left: 0%;
		background-size: 200px 200px;
	}
}